@import '../../node_modules/material-icons/iconfont/material-icons.scss';

body {
   margin: 0;
   font-size: 12px;
}

.content {
   max-width: 600px;
}

.form-group {
   display: flex;
   align-items: center;
   margin: 0 14px 20px 20px;
}

.form-group__actions {
   display: flex;
   margin-left: auto;
}

.icon {
   padding-top: 0 !important;
   padding-bottom: 0 !important;
   margin-top: 12px !important;
   cursor: pointer !important;
}


.header__title {
   padding-left: 0;
}